$background-color: #0f0f0f;
$font-color: #7e7e7e;
$border-color: #6b6b6b;
$hover-color: #f3f3f3;

body {
  background-color: $background-color;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  color: $font-color;
  line-height: 1.5;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 30px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

header {
  text-align: center;
  line-height: 1.25;

  h1 {
    margin-bottom: 0px;
  }

  p {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 300;
  }
}

img {
  &.avatar {
    border-radius: 50%;
    border: 1px solid $border-color;
  }
}

ul {
  &.social {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 5px;
  }

  a {
    display: block;
    width: 35px;
    height: 35px;
    overflow: hidden;

    &:hover svg {
      color: $hover-color;
    }
  }

  svg {
    transform: scale(0.7);
    height: inherit;
    width: inherit;

    color: $font-color;
  }
}
